---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jupyterhub-users-pvc
  namespace: jupyterhub
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: jupyterhub-users-pv
  storageClassName: zfs-configuration