---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jupyterhub
  namespace: &namespace jupyterhub
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./kubernetes/apps/jupyterhub/jupyterhub/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: homelab-gitops
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
  decryption:
    provider: sops
    secretRef:
      name: sops-age
